
<body>
    <div class="containerr">
        <div class="content">
            <i data-lucide="clock" class="icon"></i>
            <h1>Coming Soon</h1>
            <p>We're working hard to bring you the best AI-powered recruitment platform for Employees. Stay tuned for updates!</p>
        </div>
    </div>
    <script>
        lucide.createIcons();
    </script>
</body>



