@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/auth.css" rel="stylesheet" />
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword"  />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn-primary">Register</button>
        </form>
        <p class="auth-footer">
            Already have an account? <a href="./Login">Login</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
